@import "tailwindcss";

/* CSS Variables — warna bisa diubah di sini */
:root {
  --color-light-hover: #fcf4ff;
  --color-dark-hover: #2a004a;
  --color-dark-theme: #11001F;
}

.shadow-black {
  box-shadow: 4px 4px 0 #000;
}

.shadow-white {
  box-shadow: 4px 4px 0 #fff;
}

.grid-auto {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
}

/* Font default */
body {
  font-family: 'Outfit', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
